body {
    display: flex;
    flex-direction: column;

    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;

    color: #e5e7eb;
    width: 95%;
    padding-left: 5%;
    height: 25%;
}

.header li {
    list-style-type: none;
    font-size: 18px;
    display: inline;
}

.header ul {
    display: flex;
    flex-direction: row;

    gap: 1%;
    padding-right: 5%;
}

.header button {
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    border-radius: 25%;
    height: 50px;
    width: 200px;
}

.header, .footer {
    background-color: #1f2937;
}

.flex_header_top {
    display: flex;

    font-size: 24px;
    justify-content: space-between;
}

.flex_header_top ul {
    gap: 5px;
}

.flex_header_top p {
    color: #f9faf8;
}

.flex_header_bottom {
    display: flex;

    font-size: 24px;
    padding-bottom: 1%;
}

.flex_header_bottom h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.flex_header_bottom img {
    flex-shrink: 0;

    width: 44%;
    border-radius: 5%;
    margin-right: 1%;
    background-color: grey;
}

.flex_main {

}

.flex_main h1 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
}

.flex_image_subtext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;

    text-align: center;
}

.flex_image_subtext img {
    border: 1px solid #3882f6;
    border-radius: 5%;
    height: 100px;
    width: 100px;
}

.flex_quote {
    display: flex;
    flex-direction: column;
    
    background-color: #e5e7eb;
    color: #1f2937;
}

.flex_quote h2 {
    text-align: center;
    font-size: 36px;
}

.flex_quote p {
    text-align: right;
    padding-right: 30%;
    font-size: 18px;
}

.flex_call {
    display: flex;
    
    background-color: #3882f6;
    border: 1px solid transparent;
    border-radius: 10%;
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1%;

    color: #f9faf8;
}

.flex_call button {
    flex-shrink: 0;

    background-color: transparent;
    border: 1px solid #f9faf8;
    color: #f9faf8;
    height: 2%;
    margin-top: 12.5%;
}

.flex_call_left {
    display: flex;
    flex-direction: column;
}

.footer {
    flex-shrink: 0;
    
    color:#f9faf8;
    text-align: center;
    min-height: 50px;
}