body {
    display: flex;
    flex-direction: column;

    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;

    color: #e5e7eb;
    width: 95%;
    padding-left: 5%;
    height: 25%;
}

.header li {
    list-style-type: none;
    font-size: 18px;
    display: inline;
}

.header ul {
    display: flex;
    flex-direction: row;

    gap: 1%;
    padding-right: 5%;
}

.header button {
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    border-radius: 25%;
    height: 50px;
    width: 200px;
}

.header, .footer {
    background-color: #1f2937;
}

.flex_header_top {
    display: flex;

    font-size: 24px;
    justify-content: space-between;
}

.flex_header_top p {
    color: #f9faf8;
}

.flex_header_bottom {
    display: flex;

    font-size: 24px;
    padding-bottom: 1%;
}

.flex_header_bottom h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.flex_header_bottom img {
    flex-shrink: 0;

    width: 44%;
    border-radius: 5%;
    margin-right: 1%;
    background-color: grey;
}

.flex_awesome p, button {
    align-items: center;
}